@import url('https://fonts.googleapis.com/css2?family=Hanuman&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Hanuman', serif;
}
ul {
    margin: 0;
    list-style: none;
    display: flex;
    background: rgb(189, 9, 192);
}
ul li {
    padding: 10px;
}
ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.container {
    width: 80%;
    margin: auto;
    background: rgb(87, 4, 87);
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    line-height: 1.4;
    color: #fff;
    
}
p{
    opacity: 0.8;
}